@import "tailwindcss";

@theme {
  /* Merah khas Honda/AHASS */
  --color-brand-50: #fef2f2;
  --color-brand-100: #fee2e2;
  --color-brand-500: #e11d2a;
  --color-brand-600: #cc0000;
  --color-brand-700: #a30000;
  --color-brand-900: #5c0a0a;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 antialiased;
  }
}
